    body, h1 {font-family: "Raleway", sans-serif}

    .signup-container {
      width: 100%;
      max-width: 400px;
      background-color: white;
      padding: 25px;
      border-radius: 10px;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }
    .signup-container h1 {
      text-align: center;
      color: #444;
      margin-bottom: 10px;
    }
    .signup-container p {
      text-align: center;
      color: #777;
      font-size: 14px;
      margin-bottom: 5px;
    }
    .signup-container button {
      width: 100%;
    }
     .input-error {
        border-color: #f44336 !important;
        background-color: #fdecea;
      }
      .error-message {
      color: #f44336;
      font-size: 12px;
      margin: 5px 0 5px 0;
      padding-left: 5px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
