{% extends 'base.html' %}
{% load static %}

{% block extera_header %}
    <link rel="stylesheet" href="{% static 'account/css/forget-password.css' %}">
{% endblock %}


{% block content %}
    <div class="forgot-password-container w3-card">
        <h1>Forgot Your Password?</h1>
        <p>Don't worry, it happens! Just enter your email address below and we'll send you a link to reset your password.</p>
        <form method="post" class="w3-container" novalidate>
            {% csrf_token %}

            <label for="id_email" class="w3-text-grey"><b>Email Address</b></label>
            {% if form.email.errors %}
                <p class="error-message">{{ form.email.errors.0 }}</p>
            {% endif %}
            <input id="id_email" value="{{ request.POST.email }}" name="email" type="email" class="w3-input w3-border {% if form.email.errors %}input-error{% endif %} w3-margin-bottom" placeholder="Enter your email" required>

            <button type="submit" class="w3-button w3-black w3-margin-top">Password Recovery</button>
        </form>
        <div class="w3-margin-top w3-center">
            <p class="w3-small">Remember your password? <a href="{% url 'account:login' %}" class="w3-text-blue">Login here</a></p>
        </div>
    </div>

    <script src="{% static 'account/js/script.js' %}"></script>
{% endblock %}

