{% extends 'base.html' %}
{% load static %}

{% block extera_header %}
    <link rel="stylesheet" href="{% static 'account/css/login.css' %}">
{% endblock %}

{% block content %}

    <div class="login-container w3-card">
        <h1>Welcome Back!</h1>
        <p>We're so glad to see you again. Please <span class="w3-tag">LOGIN</span> to access your account.</p>
        <form method="post" class="w3-container" novalidate>
            {% csrf_token %}

            <label for="id_username" class="w3-text-grey"><b>Username</b></label>
            {% if form.username.errors %}
                <p class="error-message">{{ form.username.errors.0 }}</p>
            {% endif %}
            <input id="id_username" value="{{ request.POST.username }}" name="username" type="text" class="w3-input w3-border {% if form.username.errors %}input-error{% endif %} w3-margin-bottom" placeholder="Enter your username or email" required>

            <label for="id_password" class="w3-text-grey"><b>Password</b></label>
            {% if form.password.errors %}
                <p class="error-message">{{ form.password.errors.0 }}</p>
            {% endif %}
            <input id="id_password" name="password" type="password" class="w3-input w3-border {% if form.password.errors %}input-error{% endif %} w3-margin-bottom" placeholder="Enter your password" required>

            <button type="submit" class="w3-button w3-black w3-margin-top">Login to My Account</button>
        </form>
        <div class="w3-margin-top w3-center">
            <p class="w3-small">Forgot your password? <a href="{% url 'account:forget-pass' %}" class="w3-text-blue">Reset it here</a></p>
            <p class="w3-small">New here? <a href="{% url 'account:signup' %}" class="w3-text-blue">Create an account</a></p>
        </div>
    </div>


    <script src="{% static 'account/js/script.js' %}"></script>
{% endblock %}
