{% extends 'base.html' %}
{% load static %}

{% block extera_header %}
    <link rel="stylesheet" href="{% static 'account/css/reset-password.css' %}">
{% endblock %}

{% block content %}
    <div class="reset-password-container w3-card">
        <h1>Reset Your Password</h1>
        <p>Enter your new password below, and confirm it to reset your account password.</p>
        <form method="post" class="w3-container" novalidate>
            {% csrf_token %}

            <label for="id_password" class="w3-text-grey"><b>New Password</b></label>
            {% if form.password.errors %}
                <p class="error-message">{{ form.password.errors.0 }}</p>
            {% endif %}
            <input id="id_password" name="password" type="password" class="w3-input w3-border {% if form.password.errors %}input-error{% endif %} w3-margin-bottom" placeholder="Enter new password" required>

            <label for="id_confirm_password" class="w3-text-grey"><b>Confirm New Password</b></label>
            {% if form.confirm_password.errors %}
                <p class="error-message">{{ form.confirm_password.errors.0 }}</p>
            {% endif %}
            <input id="id_confirm_password" name="confirm_password" type="password" class="w3-input w3-border {% if form.confirm_password.errors %}input-error{% endif %} w3-margin-bottom" placeholder="Confirm new password" required>

            <button type="submit" class="w3-button w3-black w3-margin-top">Reset Password</button>
        </form>
        <div class="w3-margin-top w3-center">
            <p class="w3-small">Remember your password? <a href="{% url 'account:login' %}" class="w3-text-blue">Login here</a></p>
        </div>

    </div>


    <script src="{% static 'account/js/script.js' %}"></script>
{% endblock %}
